@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700); // https://www.google.com/fonts#UsePlace:use/Collection:Montserrat
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);  // https://www.google.com/fonts#UsePlace:use/Collection:Abril+Fatface
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic); // https://www.google.com/fonts#UsePlace:use/Collection:Playfair+Display

.font-montserrat { font-family: 'Montserrat', sans-serif; }
.font-abril-fatface { font-family: 'Abril Fatface', cursive; }
.font-playfair-display { font-family: 'Playfair Display', serif; }
.font-century-gothic { font-family: Century Gothic, sans-serif; }
.font-lucida-sans-unicode { font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif; }
.font-arial-black { font-family: ‘Arial Black’, Gadget, sans-serif; }
.font-times-new-roman { font-family: ‘Times New Roman’, Times, serif; }
.font-arial-narrow { font-family: ‘Arial Narrow’, sans-serif; }
.font-verdana { font-family: Verdana, Geneva, sans-serif; }
.font-copperplate-gothic-light { font-family: Copperplate / Copperplate Gothic Light, sans-serif; }
.font-lucida-console { font-family: ‘Lucida Console’, Monaco, monospace; }
.font-gill-sans { font-family: Gill Sans / Gill Sans MT, sans-serif; }
.font-trebuchet-ms { font-family: ‘Trebuchet MS’, Helvetica, sans-serif; }
.font-courier-new { font-family: ‘Courier New’, Courier, monospace; }
.font-arial { font-family: Arial, Helvetica, sans-serif; }
.font-georgia { font-family: Georgia, Serif; }

.font-size-8 { font-size: 8pt; }
.font-size-9 { font-size: 9pt; }
.font-size-10 { font-size: 10pt; }
.font-size-11 { font-size: 11pt; }
.font-size-12 { font-size: 12pt; }
.font-size-13 { font-size: 13pt; }
.font-size-14 { font-size: 14pt; }
.font-size-15 { font-size: 15pt; }
.font-size-16 { font-size: 16pt; }
.font-size-17 { font-size: 17pt; }
.font-size-18 { font-size: 18pt; }
.font-size-19 { font-size: 19pt; }
.font-size-20 { font-size: 20pt; }
.font-size-21 { font-size: 21pt; }
.font-size-22 { font-size: 22pt; }
.font-size-23 { font-size: 23pt; }
.font-size-24 { font-size: 24pt; }
.font-size-25 { font-size: 25pt; }
.font-size-26 { font-size: 26pt; }


